* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #141414;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #000;
    border-bottom: 2px solid gold;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
}

.logo span {
    color: gold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    transition: 0.3s;
}

nav a:hover,
.active {
    color: gold;
    font-weight: bold;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    padding: 60px 8%;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;

    background: #111;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid gold;
    cursor: pointer;
}

.movie:hover {
    transform: scale(1.08);

    box-shadow: 0 10px 25px rgba(255, 215, 0, 0.4);
}
.movie-img {
    width: 100%;
    aspect-ratio: 2 / 3;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid gold;
    box-shadow: 0 8px 20px rgba(0,0,0,0.7);
}

.movie-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.movie:hover img {
    transform: scale(1.1);
}

.movie h2 {
    margin-top: 12px;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

@media (max-width: 992px) {
    .navbar {
        padding: 20px 5%;
    }
    
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 25px;
        padding: 40px 5%;
    }
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column; 
        gap: 15px;
        text-align: center;
    }

    nav a {
        margin: 0 10px; 
        font-size: 0.9rem;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr); 
        gap: 15px;
        padding: 30px 4%;
    }

    .movie h2 {
        font-size: 0.85rem;
        padding: 5px;
    }
    
    .movie:hover {
        transform: scale(1.03); 
    }
}

@media (max-width: 380px) {
    .gallery {
        grid-template-columns: 1fr; 
    }
}